@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --fonts: "Bai Jamjuree", sans-serif;

  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --Grayish-Blue-footer: hsl(201, 11%, 96%);
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
}

/* ! remove default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  font-family: var(--fonts);
}

.green__btn {
  background-color: var(--Strong-Cyan);
  color: #ffffff;
  border: none;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 25px;
  font-family: var(--fonts);
  font-weight: 500;
  font-size: 0.9rem;
  box-shadow: 0 4px 8px 1px var(--Strong-Cyan);
  cursor: pointer;
}
.blue__btn {
  background-color: var(--Light-Blue);
  color: #ffffff;
  border: none;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 25px;
  font-family: var(--fonts);
  font-weight: 500;
  font-size: 0.9rem;
  box-shadow: 0 4px 8px 1px var(--Light-Blue);
  cursor: pointer;
}

.blue__btn:hover,
.green__btn:hover {
  opacity: 0.7;
}

.flex {
  display: flex;
  align-items: center;
}

/** Style rule for hero section **/

.hero__section {
  text-align: center;
  margin: 4rem auto;
}

.hero__logo img {
  width: 60px;
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 1rem;
}

p {
  color: var(--Grayish-Blue);
  margin-bottom: 1rem;
}
.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem;
}

/** style rule for track section **/
.track {
  margin: 4rem 0;
}
.track__text {
  max-width: 590px;
  margin: 5rem auto;
  text-align: center;
}

.track__items {
  position: relative;
}

.track__item__left {
  position: relative;
  right: 4rem;
}

.track__item__left img {
  width: 100%;
}

.track__item__right__text {
  max-width: 400px;
}

/** style rule for clipboard section **/

.clipboard {
  text-align: center;
}

.clipboard img {
  width: 70%;
  margin: 4rem 0;
}

/** style rule for workflow section **/

.workflow {
  text-align: center;
  margin: 4rem 0;
}
.workflow__items {
  padding: 0 2rem;
  gap: 1rem;
  justify-items: center;
  margin: 3rem 0;
}
.workflow__partners img {
  width: 100px;
}

.workflow__partners {
  justify-content: space-around;
  margin: 7rem 0;
}

/** style rule for clip **/

.clip {
  text-align: center;
  margin: 4rem 0;
}

.clip__texts {
  margin: 3rem 0;
}

.clip__buttons{
  flex-direction: row;
  gap: 1.9rem;
  justify-content: center;
}

/** style rule for footer section **/

footer {
  background-color: var(--Grayish-Blue-footer);
  justify-content: space-around;
  padding: 2rem;
}

.footer__logo__img {
  width: 40px;
}
.footer__icons {
  gap: 1rem;
}

.icon:hover {
  color: var(--Strong-Cyan);
  cursor: pointer;
}

.footer__text p:hover {
  color: var(--Strong-Cyan);
  cursor: pointer;
}

/* ! media query */

@media screen and (max-width: 375px) {
  body{
    background: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
  }
  .hero__buttons {
    display: flex;
    flex-direction: column;
  }
  .blue__btn,.green__btn{
    width: 90%;
  }
  .track__text {
    padding: 0 1.9rem;
  }
  .track__items{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.9rem;
    position: static;
  }
  .track__item__left{
    position: static;
    margin-bottom: 2.5rem;
  }
  .track__item__right__text {
    text-align: center;
  }
  .clipboard,.workflow,.clip__texts {
    padding: 0 1.9rem;
  }
  .workflow__items {
    flex-direction: column;
    padding: 0 2rem;
  }
  .workflow__partners {
    flex-direction: column;
    gap: 2.5rem;
  }
  .clip__buttons{
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1.9rem;
  }
  footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  body{
    background: none;
  }
  .clipboard img {
    width: 50%;
    margin: 4rem 0;
  }
  
}